<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <h1>View Process</h1>
    <!-- Rounded switch -->
    <div class="center" >
      <label>edit</label>
      <label class="switch">
        <input type="checkbox" id="toggleView" [(ngModel)]="isEditMode" (change)="toggleView()">
        <span class="slider round"></span>
      </label>
      <label>results</label>
    </div>


  <!-- Display Process Name, Cycle Time, and Work Duration -->
  <div class="process-info">
    <p><strong>Process Name:</strong> {{ processName }}</p>
    <p><strong>Cycle Time (in seconds):</strong> {{ cycleTime }}</p>
    <p><strong>Work Duration (in hours):</strong> {{ workDuration }}</p>
  </div>

  <!-- Table to display tasks and their percent contribution -->
  <table>
    <thead>
      <tr>
        <th>TASKS</th>
        <th>Percent Contribution</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}. {{ task.name }}</td>
        <td><label>{{ task.percentContribution  | number: '1.1-1'}} %</label></td>
      </tr>
    </tbody>
  </table>

  <!-- Display injury probability -->
  <div class="center">
    <div><p><strong>Injury Probability:</strong></p>
    <div class="injury-probability center"><label><strong>{{ injuryProbability | number: '1.1-1' }}%</strong></label></div>
  </div>

  <br/>

  <!-- Download button for downloading the results -->
  <div class="download-button-container">
    <button class="download-button" (click)="downloadCSV()"><i class="fa fa-download" aria-hidden="true"></i></button>
  </div>

</div>
