@import '../../styles.scss'; // Import shared styles

/* Component-specific styles */
:host {
  display: block;
}

.container {
  background-color: $primary-background-color; // Use the shared background color
  font-family: $primary-font-family; // Use the shared font family
  color: $primary-font-color; // Use the shared font
}

input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

