<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <h1 class="center">Create Task</h1>

  <!-- Form for entering Task Name and Notes -->
  <form>
    <div class="form-group center full-width">
      <h2 for="taskName" style="height: 3vh;padding: 0; display: inline-block;">Task Name</h2>
      <input type="text" style="height: 3vh; margin: 0;" id="taskName" name="taskName" [(ngModel)]="taskName" required>
      <button class="btn" (click)="openNotesPopup()"
      style="height: 5vh;
      width: 50px;
      font-size:xx-large;
      color:white;
      background-color: transparent;
      border: 0;">
      <i class="fa fa-clipboard"></i>
    </button>
    </div>

    <!--div class="form-group">
      <label for="taskNotes">Task Notes:</label>
      <textarea id="taskNotes" name="taskNotes" [(ngModel)]="taskNotes"></textarea>
    </div-->

    <br/>

    <!-- Table for OMNI-RES and REPS values -->
    <table>
      <thead>
        <tr>
          <th>OMNI-RES</th>
          <th>REPS</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let omniRes of omniResValues; let i = index;">
          <td>{{ omniRes }}</td>
          <td class="form-row">
            <button class="carat-button" type="button" (click)="decrementRepsValue(i)">&lt;</button>
            <input class="reps-input" type="text" name="repsValues[{{i}}]" [(ngModel)]="repsValues[i]" />
            <button class="carat-button" type="button" (click)="incrementRepsValue(i)">&gt;</button>
          </td>
        </tr>
      </tbody>
    </table>

    <br/>

    <!-- DONE button -->
    <div class="center">
      <button class="submit" type="submit" (click)="onFormSubmit()" [disabled]="!isFormValid()">Done</button>
    </div>

  </form>
</div>
