<form class="detailed-logo-div">  
  <div >
    <img class="detailed-logo" src="assets/logo_auburn_duet.png" alt="Detailed Logo">
  </div>

  <div>
    <h1>Process Information</h1> 
  </div>

  <div>
    <h2 for="processName">Process Name:</h2>
    <input type="text" id="processName" [(ngModel)]="processName" name="processName" required> 
  </div>
  <div>
    <h2 for="cycleTime">Cycle Time:</h2>
    <input type="number" id="cycleTime" [(ngModel)]="cycleTime" name="cycleTime" required><label>   seconds</label>
  </div>
  <div>
    <h2 for="workDuration">Work Duration:</h2>
    <input type="number" id="workDuration" [(ngModel)]="workDuration" name="workDuration" required><label>   hours</label>
  </div>
  <br/>
  <div>
    <!-- Update the button to navigate to Screen 2 -->
    <button (click)="confirm()" [disabled]="!isFormValid()" >Continue</button>
  </div>
</form>
