<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <h1>Edit Process</h1>
  <br/>
  <!-- Rounded switch -->
  <div class="center" >
    <label>edit</label>
    <label class="switch">
      <input type="checkbox" id="toggleView" [(ngModel)]="isEditMode" (change)="toggleView()">
      <span class="slider round"></span>
    </label>
    <label>results</label>
  </div>

  <!-- Display process name, cycle time, and work duration -->
  <div>
    <h2 for="processName">Process Name:</h2>
    <input type="text" id="processName" [(ngModel)]="processName" name="processName" required (ngModelChange)="updateProcess()"> 
  </div>
  <div>
    <h2 for="cycleTime">Cycle Time:</h2>
    <input type="number" id="cycleTime" [(ngModel)]="cycleTime" name="cycleTime" required (ngModelChange)="updateProcess()"><label>   seconds</label>
  </div>
  <div>
    <h2 for="workDuration">Work Duration:</h2>
    <input type="number" id="workDuration" [(ngModel)]="workDuration" name="workDuration" required (ngModelChange)="updateProcess()"><label>   hours</label>
  </div>

 <br/>

  <!-- Table for tasks and editing commands -->
  <table>
    <thead>
      <tr>
        <th>TASKS</th>
        <th>Editing Commands</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index;">
        <td>{{ i + 1 }}. {{ task.name }}</td>
        <td>
          <button (click)="addTask(i)">+</button>
          <button (click)="editTask(i)">EDIT</button>
          <button (click)="confirmDeleteTask(i)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
